@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.headerLinks {
	@apply h-6 w-full cursor-pointer transform hover:scale-125 ease-out duration-500;
}

.iconsDiv {
	@apply h-full flex items-center relative;
}

.iconWarning {
	@apply absolute top-1 -right-1 h-6 w-6 bg-red-500 text-center rounded-full text-white transform animate-pulse;
}

@layer utilities {
	.scroll-smooth {
		scroll-behavior: smooth;
	}
}
